*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Lato',sans-serif;
}

body{
    background:#fff;
}

/* ================= HEADER ================= */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:14px 48px;

    background:white;

    box-shadow:0 1px 8px rgba(0,0,0,.05);
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
    text-decoration:none;
}

.logo img{
    width:38px;
}

.logo-text{
    font-size:20px;
    font-weight:800;
}

.price{
    color:#075985;
}

.lens{
    color:#3a9d4b;
}

nav{
    display:flex;
    gap:32px;
    align-items:center;
}

nav a{
    text-decoration:none;
    color:#334155;
    font-size:15px;
}

.btn-download{
    background:#3a9d4b;
    color:white!important;
    padding:10px 22px;
    border-radius:12px;
}

/* ================= HERO ================= */

.hero{
    background:#EAF5FF;
    height:620px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:140px;
    padding:0 8%;
    overflow:hidden;
}

.hero-content{
    max-width:470px;
}

.hero h1{
    font-size:52px;
    line-height:1.1;
    margin-bottom:20px;
    font-weight:900;
}

.blue{
    color:#075985;
}

.green{
    color:#3a9d4b;
}

.hero p{
    color:#475569;
    font-size:18px;
    line-height:1.6;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:15px;
}

.btn-primary{
    background:#3a9d4b;
    color:white;
    padding:14px 32px;
    border-radius:12px;
    text-decoration:none;
    font-weight:600;
}

.btn-secondary{
    background:white;
    border:1px solid #ddd;
    padding:14px 32px;
    border-radius:12px;
    text-decoration:none;
    color:#075985;
}

/* TELEFONO */

.hero-phone{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    height:100%;
    margin-left:30px;
}

.hero-phone img{
    width:430px;
    margin-bottom:-180px;
    filter:none;
}

/* ================= COMO FUNCIONA ================= */


.how-it-works{
    background:#f1faf3;
    padding:80px 8%;
    text-align:center;
}

.how-it-works h2{
    font-size:34px;
    margin-bottom:45px;
    color:#111827;
}

.steps{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.step{
    width:220px;
}

.icon-circle{
    width:80px;
    height:80px;
    background:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.icon-circle img{
    width:38px;
    height:38px;
}

.step h3{
    font-size:18px;
    margin-bottom:10px;
}

.step p{
    color:#64748b;
    font-size:14px;
    line-height:1.5;
}

/* ================= BENEFICIOS ================= */


.beneficios{
    padding:80px 8%;
    text-align:center;
}

.beneficios h2{
    font-size:30px;
    margin-bottom:40px;
}

.benefit-cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:70px;
}

.benefit-card{
    width:250px;
    background:white;
    padding:25px;
    border-radius:14px;
    text-align:left;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.benefit-icon{
    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    margin-bottom:15px;
}

.icon-green{
    background:#e4f5e7;
}

.icon-blue{
    background:#e3effd;
}

.icon-gray{
    background:#eef1f4;
}

.benefit-card h3{
    margin-bottom:10px;
}

.benefit-card p{
    color:#64748b;
    font-size:14px;
    line-height:1.6;
}

/* ================= MISION ================= */

.mission{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:70px;

    background:#f1faf3;

    padding:90px 8%;
    width:100%;
    flex-wrap:wrap;
}

.mission-visual{
    flex:1;
    display:flex;
    justify-content:center;
}

.mission-visual img{
    width:450px;
    max-width:100%;
    border-radius:18px;
}

.mission-text{
    flex:1;
    max-width:600px;
}

.mission-tag{
    color:#3a9d4b;
    font-size:22px;
    font-weight:900;
    letter-spacing:1.5px;
    display:block;
    margin-bottom:15px;
}

.mission-text h2{
    font-size:38px;
    line-height:1.25;
    color:#075985;
    margin-bottom:25px;
    font-weight:900;
}

.mission-text p{
    color:#64748b;
    font-size:16px;
    line-height:1.8;
    margin-bottom:18px;
}

.mission-tag{
    color:#3a9d4b;
    font-size:22px;
    font-weight:900;
    letter-spacing:1.5px;
    display:block;
    margin-bottom:15px;
}

.mission-text h2{
    font-size:38px;
    line-height:1.25;
    color:#075985;
    margin-bottom:25px;
    font-weight:900;
}

.mission-text p{
    color:#64748b;
    font-size:16px;
    line-height:1.8;
    margin-bottom:18px;
}

/* ================= TESTIMONIOS ================= */

.testimonials {
    padding: 80px 8%;
    text-align:center;
}

.testimonials h2 {
    margin-bottom:40px;
    font-size:28px;
    color:#0f172a;
}

.testimonial-container {
    display:flex;
    gap:25px;
    justify-content:center;
    flex-wrap:wrap;
}

.testimonial-card {
    width:330px;
    background:#fff;
    border:1px solid #ececec;
    padding:25px;
    border-radius:12px;
    text-align:left;
    box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.stars {
    color:#f5a623;
    font-size:20px;
    margin-bottom:15px;
    letter-spacing:2px;
}

.testimonial-card p {
    font-size:14px;
    color:#475569;
    line-height:1.6;
}

.user {
    display:flex;
    align-items:center;
    gap:12px;
    margin-top:20px;
}

.user img {
    width:55px;
    height:55px;
    border-radius:50%;
    object-fit:cover;
}

.user h4 {
    font-size:14px;
    color:#0f172a;
}

.user span {
    color:#666;
    font-size:13px;
}

/* ================= FAQ ================= */

.faq {
    background:#f5f7f7;
    padding:80px 20px;
    text-align:center;
}

.faq h2 {
    margin-bottom:35px;
    font-size:28px;
    color:#0f172a;
}

.faq details {
    max-width:800px;
    margin:15px auto;
    background:white;
    border-radius:10px;
    padding:18px;
    text-align:left;
}

.faq summary {
    cursor:pointer;
    font-weight:700;
    list-style:none;
}

.faq summary::-webkit-details-marker {
    display:none;
}

.faq summary::after {
    content:"▼";
    float:right;
    font-size:12px;
}

.faq p {
    margin-top:15px;
    color:#555;
}

/* ================= CTA ================= */

.cta {
    background:#005a99;
    color:white;
    padding:30px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
}

.cta-left {
    display:flex;
    align-items:center;
    gap:20px;
}

.cta-left img {
    height:100px;
    width:150px;
}

.cta-buttons {
    display:flex;
    gap:15px;
    align-items:center;
}

.store-b {
    height:55px;
    width:auto;
    display:block;
    cursor:pointer;
    transition:transform .2s ease;
}

.store-b:hover {
    transform:scale(1.05);
}

.cta-left h2 {
    font-size:2.4rem;
    font-weight:800;
    color:white;
    margin-bottom:8px;
    line-height:1.2;
}

.cta-left p {
    font-size:1rem;
    color:rgba(255,255,255,.85);
}
